@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;
//@import "~bulma/bulma.sass";
//ARTICULO A

.articuloA{
    background-color:$negro;
    min-height:100vh;
    display:grid;
    grid-template-columns : repeat(auto-fit, minmax(200px, 2fr));
    padding-top:6vh;
    padding: 10vh 4vh 2vh 2vh;
}

.a_section{
    margin: 1em;
    padding: 4vh;
   // background-color: #ffffff;
    position: relative;
}

// Articles Slider
.articleSliderContainer{
    position:relative;
    padding:2vh;
}



//section b
.b_section{
    width: 100%;
    height: 100%;
    background-color: #7c428c4d;
    display: flex;
}

.articuloA .titulo{
    color:$lila;
    font-size: 4vh;
}
.articuloA .subTitulo{
    color:$acua;
    font-size: 3vh;

}

.articuloA p{
    margin-top:3vh;
    font-size:2.5vh;
    color:$blanco;
}

.articleButtons{
    cursor:pointer;
    display:flex;
    margin-top:4vh;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.aButtonsDisable{
    cursor:no-drop;
    color:grey;
}

.articleButton{
    padding:2em;

}

.articuloAIcons{
    color:$acua;
}

.articuloAIcons:hover{
    color:$lila;
}

@media (max-width: 600px){
   

    .articleButtons{
        position:unset;
    }
   

    
}