@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;


.actividadesContainer{
    height:auto;
}

.actividadesWrapper{
    background-color:$bgGreen;
    padding:4vh 8vh;
    margin: 0 10vh;
}

.actividadElement{
    margin-top: 10vh;
    min-height:20vh;
    background-color:$acua;
    
    
}

.actividadElement div{
    display: flex;
    place-items: center;
    justify-content: center;
}

.fecha{
    font-size:5vh;
}

.actividadExpand{
    cursor: pointer;
    transition:all 0.2s ease-in-out;
}


.actividadExpand:hover{
    color:$blanco;
    padding:3px;
    background-color:$negro;
    transform:scale(1.2);
}

@media (max-width: 600px){
    .actividadesWrapper{
        padding: 0;
        margin: 0;
    }
}