@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;


.actividadesContainer{
    height:auto;
}

.actividadesWrapper{
    background-color:$negro;
    padding:4vh 8vh;
    margin: 0 10vh;
    //max-height: 80vh;
    //overflow-y: scroll;
    border: #7c428c solid 10px;
}

@media (max-width: 600px){
    .actividadesWrapper{
        padding: 0;
        margin: 0;
    }
}