@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;
@import "~bulma/bulma.sass";


//NAVBAR

.navbar{
    background-color:$blanco;
}

h1{
   
    font-family: 'B612', sans-serif;
    font-weight: 600;
}



p{
    font-family: 'Rubik', sans-serif;
}

header{
    position: fixed;
    
    width: 100vw;
    height: 1vh;
    padding: 2em  2em 2em 2em;
    z-index: 200;
    //background-color: #242424;
}

main{
    background-color:$blanco;
}

.itTitulo h1{
    font-size:1em;
    color: $acua;
}

.main_wrapper{
    //background-color:#242424;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//LOADER

.loader_container{
    width: 100vw;
    height:100vh;
    background-color: #4ca899;
    display:flex;
    place-items:center;
    place-content:center;
    position:absolute;
    z-index: 5;
    
}

.itLoader{
    width:200px;
    height:200px;
}


//Menu
/* TAB */

.tab{
    top:-20%;
    background-color:$lila;
    cursor: pointer;
    position:absolute;
    width:200px;
    height:200px;
    display:flex;
    place-content:center;
    align-items:center;

}

.tab:hover{
    background-color:$acua;

}
/*44/35*/
.tab:nth-of-type(1){
    left:52%;
    top: 10%;
    border-radius:50%;
}

.tab:nth-of-type(2){
    right:52%;
    top: 42%;
    border-radius:50%;
}



.tab:nth-of-type(3){
    left:52%;
    top: 42%;
    
}

.tab:nth-of-type(4){
    right:52%;
    top: 10%;
    
}


.tab h1{
    font-size: 1em;
    font-family: 'Jura', sans-serif;
    padding-top: 1em;
}
.menuit{
    cursor:pointer;
    width:50px
}



.menu_container{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: fixed;
    filter:url(#goo);
    z-index:100;
}

.menu_container h1{
   // font-size:1em;
    color:#eeeeee;
}

.menuicon{
    font-size: 2em;
    cursor: pointer;
}

//MENU MODAL  

.menuModalContent{
    width:100%;
    height:100%;
}

.simulador{
    background-color:blue;
    width:100vw;
    height:100vh;
}

.menuClose{
    z-index:500;
}


.logosvg{
    width:60px;
    cursor:pointer;    
}

.module{
    stroke: transparent;
    fill:#242424;
    stroke-width: 4px;
}

.module:hover{
    fill:$acua;
}


//main
main{
    height:auto;
    width:100vw;
}

//Homepage

.homepage{
    width:100vw;
    height:100vh;
    //background-color:blue;
}

//PATH RAIZ

.pathRaiz{
    width:100%;
    height:100%;
}


//modalVideos


.videoModalContent{
    width:100%;
}

.videoReel{
    width: 100vw;
    height:100vh;
}

.downIcon{
    color: $lila;
    position:absolute;
    bottom: 10%;
    right:48.5%;
    cursor: pointer;
    padding:0.2em;
    border-radius:100px;
    animation: arrow 1s infinite;
}

.downIcon:hover{
    color: $acua;
    animation-play-state: paused;
}

@keyframes arrow{
    0%{
        transform:translate(0px, 8px);
    }
    50%{
        transform:translate(0px, 0px);
    }
    100%{
        transform:translate(0px, 8px);
    }
}

.vControls{
    cursor:pointer;
    position:absolute;
    background-color:$lila;
    bottom: 40%;
    left:0%;
    display:grid;
    grid-gap:2em;
    padding:0.5em;
    color:#4ca899b0;
    border-width: 2px;
    border-radius: 30px;
    border-color: #7c428c8a;
    border-style: inset;
    margin: 10px;

}

.vControls .controlIcon:hover{
    color:#edaffe;
    font-size:1.9em;
}

.timecode{
    position:absolute;
    background-color:$lila;
    top: 0%;
    left:45%;
    color:#4ca899b0;
    border-width: 2px;
    border-radius: 30px;
    border-color: #7c428c8a;
    border-style: inset;
    margin: 10px;
    min-width:100px;
    text-align:center;
}
.timecode h1 {
    font-size: 0.9em;
    margin-bottom: 0;;

}

.raiz{
    stroke-dasharray:3000;
    stroke-dashoffset:3000;
    animation: dash 10s linear forwards;
}

.on{
    animation-play-state: running;
}

.off{
    animation-play-state: paused;
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}

//About-layout

.about1{
  // background-color:rgb(233, 233, 233);
   width:100vw;
   min-height:100vh; 
   display :grid;
   padding:1em;
   grid-template-rows: 1fr 1fr ;
   grid-template-columns:1fr 3fr 1fr; 
   grid-gap:1em;
   grid-template-areas: "a1 a2 a3"
                        "a4 a5 a6";

}

// .about1 > .a_boxes{
//     border: solid #7c428c 2px;
// }

// .about2 > .b_boxes{
//     border: solid #7c428c 2px;
// }

// .about3 > .c_boxes{
//     border: solid #7c428c 2px;
// }

.a1{
    grid-area : a1;
    
    //background-color:$negro;
}

.a2{
    grid-area : a2;
   // background-color:#1b1b1b;
    
}

.a3{
    grid-area : a3;
    //background-color:rgb(127, 127, 228)
    
}

.a4{
    grid-area : a4;
    //background-color:rgb(55, 55, 112)
    
}

.a5{
    grid-area : a5;
   // background-color:$acua;
    
}

.modal{
    z-index:500;
}


.apple_svg_container{
    height:100%;    
}

.apple_c{
    mix-blend-mode: exclusion;
    opacity:0.5;
}




//About2

.about2{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    min-height:100vh; 
    background-color: #242424;
    display :grid;
    grid-template-rows: 6fr 3fr ;
    grid-template-columns: 4fr 6fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    grid-template-areas: "b2 b2 b3"
                         "b4 b5 b6";
 
 }
 
 .b1{
     grid-area : b1;
     //background-color:blue
     
     background: rgb(0,0,0);
     background: linear-gradient(90deg, rgba(0,0,0,1) 26%, rgba(40,40,40,1) 100%);
     
 }

 .b1:hover{
     filter:hue-rotate(280deg);
 }
 
 .b2{
     grid-area : b2;
     background-color: #242424;
     
     display:grid;
    // background-color:rgb(39, 39, 39);
     padding-bottom: 60px;

 }

 
 .b3{
     grid-area : b3;
     background:linear-gradient(270deg, rgb(0, 0, 0) 20%, rgb(36, 36, 36) 71%);
     
 }
 
 .b4{
     grid-area : b4;
   // background-color:#1a1a1a;
     
 }
 
 .b5{
     grid-area : b5;
     //background-color:rgb(134, 15, 163)
     
 }
 
 .b6{
     grid-area : b6;
     //background-color:rgb(17, 187, 17)
     
 }

 .b1 circle{
     opacity:50%;
     mix-blend-mode:exclusion;
 }

 .rectPattern{
    transform-origin:center;
     mix-blend-mode:difference;
     transition: all 1.5s;
 }

 .rectPattern:hover{
     
     filter:hue-rotate(360deg);
     transform: scale(2);
 }


 
 .svg_caption{
    cursor:pointer;
    width:100% ;
    font-family: 'B612', sans-serif;
    font-weight: 600;
    height: 8vh;

 }

 .caption:hover{
     background-color:$lila;
 }

 
 .complejo{
    max-width:400px;
    max-height:400px;
}


#complejidad{
    font-family: 'B612', sans-serif;
    font-weight: 600;
    font-size:1.5em;
    fill:#eeeeee;
    font-weight:600;
}

//PUBLICACIONES

.publicaciones{
    width:100vw;
    height:auto;
    background-color:$blanco;
    padding:2em;
}

.publicaciones_content{
    padding:2em;

}

//IT ARTICLE

.article_box{
    background-color:$acua;
    position:relative;
    overflow:hidden;
    min-height: 300px;
}

.article_box:before{
    background:$lila;
    opacity:0;
    transition: all 0.3s ease-out;
    position:absolute;
    display:block;
    left:0;
    bottom:-50%;
    right:0;
    margin: auto;
    border-radius:100%;
    width: 300px;
    height: 300px;
    content: '';

}

.article_box:hover:before{
    opacity:0.8;
    transform:scale(1.5);
    
}

.article_box .textcontent{
    position:absolute;
    bottom:0;
    margin:2em auto;
}

.article_box h1{
    font-family: 'B612', sans-serif;
    color:$blanco;
    font-size: 2.2vh;
    margin:0;
    
}

.article_box h2{
    color:$blanco;
    font-size: 1.8vh;
    margin:0;
    margin-left:5px;
    
}

.autorTitle{
    margin:15px;
}


//ARTICULO A

.articuloA{
    background-color:$bgGreen;
    min-height:100vh;
    display:grid;
    grid-template-columns : repeat(auto-fit, minmax(200px, 2fr));
    padding-top:6vh;
    padding: 10vh 4vh 2vh 2vh;
}

.a_section{
    margin: 1em;
    padding: 4vh;
    background-color: #ffffff;
    position: relative;
}
.b_section{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
}

.articuloA .titulo{
    color:$lila;
    font-size: 4vh;
}
.articuloA .subTitulo{
    color:$acua;
    font-size: 3vh;

}

.articuloA p{
    margin-top:3vh;
    font-size:2.5vh;
}

.articleButtons{
    cursor:pointer;
    display:flex;
    margin-top:4vh;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.aButtonsDisable{
    cursor:no-drop;
    color:grey;
}

.articleButton{
    padding:2em;

}

.articuloAIcons{
    color:$acua;
}

.articuloAIcons:hover{
    color:$lila;
}

 //About3

.about3{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    height:100vh; 
    padding:1em;
    display :grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "c1 c2 c3" "c4 c5 c6";
 
 }
 
 .c1{
     grid-area : c1;
    // background-color:#000;
     
 }
 
 .c2{
     grid-area : c2;
    // background-color:#0e0e0e;
     display:flex;
     justify-content: center;
     align-items:center;
 }
 
 .c3{
     grid-area : c3;
    //  background: rgb(31,31,31);
    //  background: radial-gradient(circle, rgba(31,31,31,1) 32%, rgba(255,255,255,1) 48%);
     
 }
 
 .c4{
     grid-area : c4;
    // background-color:rgb(255, 255, 255);
 }
 
 .c5{
     grid-area : c5;
     display:flex;
     justify-content:center;
    // background-color: black;
     }
 
 .c6{
     grid-area : c6;
 }

 //About-elements
//About1
 .info_{
     padding: 2em;
     width:100%;
     height:100%;
     transition:all 0.1s ease-out;
     cursor:pointer;
    
 }

 .info_:hover{
    -webkit-box-shadow: 8px 8px 4px -3px $acua; 
    box-shadow: 8px 8px 4px -3px $acua;
    transform: translate(-2px, -2px);

    .expandIcon{
        color:#eeeeee;
        background-color:$negro;
       transform:scale(1.2);
       padding:3px;
    }
 }

 .info_ h1{
    
    font-family: 'B612', sans-serif;
     font-size: 2em;
     line-height: 0.9em;
 }

 .info_ p{
    font-size: 2.5vh;
     line-height: 1em;
 }

 .info_ .expandIconContainer{
    display:grid;
    justify-items: flex-end;
    right:4%;
    margin:0.5em;
 }

 .info_ .expandIcon{
     cursor:pointer;
     transition:all 0.1s ease-out;
     
 }

 .infoExpandedContent{
     background-color:rgb(36, 36, 36);
     padding:4em;
 }

 .infoExpandedContent h1{
     color:$acua;
     font-size: 1.5em;
 }

 .infoExpandedContent p{
    line-height:1em;
    color:#eeeeee;
}

 #svgA1{
     width:100%;
     height:100%;
     cursor:pointer;
 }

 .svgA1_rect{
     opacity: 70%;
     mix-blend-mode: multiply;
 }

 .svgA1_cuad{
    opacity: 50%;
    mix-blend-mode: difference;
}

.svgA3_circle{
    opacity: 70%;
    mix-blend-mode:multiply;
}

#top{
    filter:hue-rotate(330deg);
    stroke: rgb(255, 190, 201);
    stroke-width: 10px;
    transition:filter 0.5s ease-in-out;
}

#top:hover{
    filter:hue-rotate(0deg);
}

#gal{
    width:800px;
    height:800px
}

#gal_g{
    font-size:12em;
    font-family: 'B612', sans-serif;
    mix-blend-mode:exclusion;
}
#gal_nombre{
    font-size:2em;
    font-family: 'B612', sans-serif;
    mix-blend-mode:exclusion;
    letter-spacing: -1px;
    
}

 //about2
.about2_content{
    padding:5em;
    
}

.about2_tituloUp{
    font-family: 'B612', sans-serif;
    font-size: 2em;
    line-height: 0.5em;

}

.about2_tituloDw{
    font-family: 'B612', sans-serif;
    font-size: 4em;
    line-height: 0.5em;

}

//about3_content

.about3_content h1{
    font-family: 'B612', sans-serif;
    font-size: 3em;
    line-height: 0.8em;
    color:rgb(27, 27, 27);
}

.cls-1{fill:#54b2a1;}.cls-2{fill:#3a8476;}.cls-3{fill:#4ba899;}

.it_iso{
    max-width:300px;
}

//NOSOTRSES

.nosotres{
    background-color:$blanco;
    height:100vh;
    padding: 2em;
    
}
//slider
.carouselContainer{
    cursor: grab;
}

.member_container{
    background-color:$negro;
    margin: 1em;
}

.member_container:hover{
    transform:skewY(-4deg);
    box-shadow: 3px  3px  3px #2424, -6px -6px 6px #666666;

}

.member_info{
    padding:1em;
    color:$blanco;
}

 // circlepath

 .circlePathContainer{
     display:flex;
     justify-content:center;
     background-color: $blanco;
 }

 .circlePath{
     margin-top:4em;
     width:200px;
     height:200px;
 }


 .footer{
     min-height:100vh;
     margin-top:0px;
     margin-bottom:5vh;
     padding-top: 20em;
 }

 .footer .footer-image-content{
      padding:2em;
      text-align: center;
      
 }

 .footer .icons-column h1{
    padding-top: 2em;
    color: #242424;
 }

 .footerImgWrapper{
    width:20vh;
 }


 .icons-column{
    display: flex;
    flex-direction:column;
    text-align: center;
    place-content: center;
    align-items: center;
 }

 .footer .footer-icons-content{
     width: 50%;
    display: flex;
    place-content:center;
    place-items: center;
 }

 .footer-icons{
     font-size:6vh;
     cursor:pointer;
     color:$lila;
     transition:all 0.2s ease-in-out;
     margin:1rem;
 }

 .footer-icons:hover{
    color:$acua;
    transform:scale(1.5);
}

.subscripcion{
    padding:2em;
    background-color:$acua;
}

.emailSub{
    width:100%
}

.contentSub{
    padding:2em;
}

.subscripcion h1{
    font-size:4vh;
    color:$blanco;
}

.subscripcion h2{
    font-size:3vh;
    color:$blanco;
}

.enviarSub{
    background-color:$lila;
    color:$blanco;
}

.foot-list{
    padding-top:4vh;
    cursor:pointer;
}

.foot-list-item{
    position:relative;
}

.foot-list-item:before{
    position:absolute;
    background:$lila;
    opacity:0;
    transition: all 0.3s ease-out;
    position:absolute;
    display:block;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    width: 15vh;
    height: 2px;
    content: "";
    padding-top: 1.4em;
    mix-blend-mode: hue;

}

.foot-list-item:hover:before{
    opacity:0.8;
    transform:scale(1.5);
    
}

@media (max-width: 600px){
    #gal{
        width:400px;
        height:400px;
    }

    .about1{
        display:flex;
        flex-direction:column; 
    }

    .about2{
        display:flex;
        flex-direction:column; 
    }
    .b2{
        height:100vh;
    }

    .about3{
        display:flex;
        flex-direction:column; 
    }

    .articleButtons{
        position:unset;
    }
   

    
}