@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgclaro:#DEFCF0;
$bgGreen:#DEFCF0;
@import "~bulma/bulma.sass";


//Header

h1{
   
    font-family: 'B612', sans-serif;
    font-weight: 600;
}



p{
    font-family: 'Rubik', sans-serif;
}

header{
    position: fixed;
    //background-color:yellow;
    width: 100vw;
    height: 10vh;
    padding: 2em  2em 2em 2em;
    z-index: 200;
}

.main_wrapper{
    background-color:#242424;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//LOADER

.loader_container{
    width: 100vw;
    height:100vh;
    background-color: #4ca899;
    display:flex;
    place-items:center;
    place-content:center;
    position:absolute;
    z-index: 5;
    
}

.itLoader{
    width:200px;
    height:200px;
}


//Menu
/* TAB */

.tab{
    top:-20%;
    background-color:$lila;
    cursor: pointer;
    position:absolute;
    width:200px;
    height:200px;
    display:flex;
    place-content:center;
    align-items:center;
}

.tab:hover{
    background-color:$acua;

}
/*44/35*/
.tab:nth-of-type(1){
    left:52%;
    top: 10%;
    border-radius:50%;
}

.tab:nth-of-type(2){
    right:52%;
    top: 42%;
    border-radius:50%;
}



.tab:nth-of-type(3){
    left:52%;
    top: 42%;
    
}

.tab:nth-of-type(4){
    right:52%;
    top: 10%;
    
}


.tab h1{
    font-size: 1em;
    font-family: 'Jura', sans-serif;
    padding-top: 1em;
}
.menuit{
    cursor:pointer;
    width:40px;
    height:40px;
}


.menu_container{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: fixed;
    filter:url(#goo);
    z-index:100;
}

.menu_container h1{
   // font-size:1em;
    color:#eeeeee;
}

.menuicon{
    font-size: 2em;
    cursor: pointer;
}


.logosvg{
    width:60px;
    cursor:pointer;    
}

.module{
    stroke: transparent;
    fill:#242424;
    stroke: $lila;
    stroke-width: 4px;
}

.module:hover{
    fill:$lila;
}


//main
main{
    height:auto;
    width:100vw;
}

//Homepage

.homepage{
    width:100vw;
    padding: 5em;
    max-height:100vh;
    //background-color:blue;
}

//HEROTITLE

.hero_container{
    width:100vw;
    height:30vh;
    background-color:rgb(0, 0, 0);
    display:flex;
    place-content:center;
    place-items:flex-end;
    position: -webkit-sticky;
    position: sticky;
}

.hero_title{
    font-family: 'B612', sans-serif;
    font-size:5em;
}

//modalVideos


.videoModalContent{
    width:100%;
}

.videoReel{
    width: 100vw;
    height:100vh;
}

.downIcon{
    color: $lila;
    position:absolute;
    bottom: 10%;
    right:49%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    padding:0.2em;
    border-radius:100px;
}

.downIcon:hover{
    color: $acua;
}

.vControls{
    cursor:pointer;
    position:absolute;
    background-color:$lila;
    bottom: 40%;
    left:0%;
    display:grid;
    grid-gap:2em;
    padding:0.5em;
    color:#4ca899b0;
    border-width: 2px;
    border-radius: 30px;
    border-color: #7c428c8a;
    border-style: inset;
    margin: 10px;

}

.vControls .controlIcon:hover{
    color:#edaffe;
    font-size:1.9em;
}

.timecode{
    position:absolute;
    background-color:$lila;
    top: 0%;
    left:45%;
    color:#4ca899b0;
    border-width: 2px;
    border-radius: 30px;
    border-color: #7c428c8a;
    border-style: inset;
    margin: 10px;
    min-width:100px;
    text-align:center;
}
.timecode h1 {
    font-size: 0.9em;
    margin-bottom: 0;;

}

.raiz{
    stroke-dasharray:3000;
    stroke-dashoffset:3000;
    animation: dash 10s linear forwards;
}

.on{
    animation-play-state: running;
}

.off{
    animation-play-state: paused;
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}

//About-layout

.about1{
  // background-color:rgb(233, 233, 233);
   width:100vw;
   min-height:100vh; 
   display :grid;
   grid-template-rows: 5fr 3fr ;
   grid-template-columns:6fr 4fr 1fr; 
   grid-template-areas: "a1 a2 a5"
                        "a3 a4 a5";

}

.a1{
    grid-area : a1;
    border-style: solid;
    background-color:$acua;
}

.a2{
    grid-area : a2;
    background-color:#eeeeee;
    border-style: solid;
}

.a3{
    grid-area : a3;
    //background-color:rgb(127, 127, 228)
    border-style: solid;
}

.a4{
    grid-area : a4;
    //background-color:rgb(55, 55, 112)
    border-style: solid;
}

.a5{
    grid-area : a5;
    background-color:$acua;
    border-style: solid;
}

.modal{
    z-index:500;
}


.apple_svg_container{
    height:100%;    
}

.apple_c{
    mix-blend-mode: exclusion;
    opacity:0.5;
}




//About2

.about2{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    min-height:100vh; 
    display :grid;
    grid-template-rows: 6fr 3fr ;
    grid-template-columns: 4fr 6fr 1fr;
    //grid-gap:2em;
    grid-template-areas: "b1 b2 b3"
                         "b4 b5 b6";
 
 }
 
 .b1{
     grid-area : b1;
     //background-color:blue
     border-style: solid;
     background: rgb(0,0,0);
     background: linear-gradient(90deg, rgba(0,0,0,1) 26%, rgba(40,40,40,1) 100%);
     
 }

 .b1:hover{
     filter:hue-rotate(280deg);
 }
 
 .b2{
     grid-area : b2;
     //background-color:rgb(23, 23, 202)
     border-style: solid;
     display:grid;
     background-color:rgb(39, 39, 39)

 }

 
 .b3{
     grid-area : b3;
     background-color:#000000;
     border-style: solid;
 }
 
 .b4{
     grid-area : b4;
     //background-color:rgb(55, 55, 112)
     border-style: solid;
 }
 
 .b5{
     grid-area : b5;
     //background-color:rgb(134, 15, 163)
     border-style: solid;
 }
 
 .b6{
     grid-area : b6;
     //background-color:rgb(17, 187, 17)
     border-style: solid;
 }

 .b1 circle{
     opacity:50%;
     mix-blend-mode:exclusion;
 }

 .b4 rect{
    transform-origin:center;
     mix-blend-mode:difference;
     transition: all 1.5s;
 }

 .b4 rect:hover{
     
     filter:hue-rotate(360deg);
     transform: scale(2);
 }


 
 .svg_caption{
   
     width:100%;
     font-family: 'B612', sans-serif;
    font-weight: 600;

 }

 .caption{
    height:0.2em;
 }

 
 .complejo{
    max-width:400px;
    max-height:400px;
}


#complejidad{
    font-family: 'B612', sans-serif;
    font-weight: 600;
    font-size:1.5em;
    fill:#eeeeee;
    font-weight:600;
}

//PUBLICACIONES

.publicaciones{
    width:100vw;
    height:auto;
    background-color:$bgclaro;
    padding:2em;
}

.publicaciones_content{
    padding:2em;

}

//IT ARTICLE

.article_box{
    background-color:$acua;
    position:relative;
    overflow:hidden;
    min-height: 300px;
}

.article_box:before{
    background:$lila;
    opacity:0;
    transition: all 0.3s ease-out;
    position:absolute;
    display:block;
    left:0;
    bottom:-50%;
    right:0;
    margin: auto;
    border-radius:100%;
    width: 300px;
    height: 300px;
    content: '';

}

.article_box:hover:before{
    opacity:0.8;
    transform:scale(1.5);
    
}

.article_box .textcontent{
    position:absolute;
    bottom:0;
    margin:2em auto;
}

.article_box h1{
    font-family: 'B612', sans-serif;
    mix-blend-mode:difference;
    font-size: 1.5em;
    margin:0;
    
}


//ARTICULO A

.articuloA{
    background-color:$bgGreen;
    width:100vw;
    min-height:100vh;
    display:grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}
.articuloA .titulo{
    color:$acua;
}
.articuloA .subTitulo{
    color:$acua;
}

.a_section{
    margin:1em;
    padding:1em;
    background-color:#ffffff;
}

.b_section{
   // background-color:yellow;
}

 //About3

.about3{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    min-height:100vh; 
    display :grid;
    grid-template-rows: 8fr 4fr ;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-areas: "c1 c2 c3"
                         "c4 c5 c6";
 
 }
 
 .c1{
     grid-area : c1;
     border-style: solid;
 }
 
 .c2{
     grid-area : c2;
     background-color:#252525;
     border-style: solid;
     display:flex;
     justify-content: center;
     align-items:center;
 }
 
 .c3{
     grid-area : c3;
     background: rgb(31,31,31);
     background: radial-gradient(circle, rgba(31,31,31,1) 32%, rgba(255,255,255,1) 48%);
     border-style: solid;
     display:grid;
     align-content: flex-end;
 }
 
 .c4{
     grid-area : c4;
     background-color:rgb(255, 255, 255);
     border-style: solid;
     mix-blend-mode: exclusion;
 }
 
 .c5{
     grid-area : c5;
     //background-color:rgb(134, 15, 163)
     border-style: solid;
     display:flex;
     justify-content:center;
 }
 
 .c6{
     grid-area : c6;
     //background-color:rgb(17, 187, 17)
     border-style: solid;
 }

 //About-elements
//About1
 .info_{
     padding: 2em;
     width:100%;
     height:100%;
    
 }

 .info_ h1{
    
    font-family: 'B612', sans-serif;
     font-size: 2.5em;
     line-height: 0.8em;
 }

 .info_ p{
     line-height: 1em;
 }

 .info_ .expandIconContainer{
    display:grid;
    justify-items: flex-end;
    right:4%;
    margin:0.5em;
 }

 .info_ .expandIcon{
     cursor:pointer;
 }

 .content_container{
     background-color:rgb(36, 36, 36);
     padding:4em;
 }

 .content_container h1{
     color:#eeeeee;
 }

 .content_container p{
    line-height:1em;
}

 #svgA1{
     width:100%;
     height:100%;
 }

 .svgA1_rect{
     opacity: 70%;
     mix-blend-mode: multiply;
 }

 .svgA1_cuad{
    opacity: 50%;
    mix-blend-mode: difference;
}

.svgA3_circle{
    opacity: 70%;
    mix-blend-mode:multiply;
}

#top{
    filter:hue-rotate(330deg);
    transition: filter 2s;
    stroke: rgb(255, 190, 201);
    stroke-width: 10px;
}

#top:hover{
    filter:hue-rotate(0deg);
}

#gal{
    width:800px;
    height:800px
}

#gal_g{
    font-size:12em;
    font-family: 'B612', sans-serif;
    mix-blend-mode:exclusion;
}
#gal_nombre{
    font-size:2em;
    font-family: 'B612', sans-serif;
    mix-blend-mode:exclusion;
    letter-spacing: -1px;
    
}

 //about2
.about2_content{
    padding:5em;
    
}

.about2_tituloUp{
    font-family: 'B612', sans-serif;
    font-size: 2em;
    line-height: 0.5em;

}

.about2_tituloDw{
    font-family: 'B612', sans-serif;
    font-size: 4em;
    line-height: 0.5em;

}

//about3_content

.about3_content h1{
    font-family: 'B612', sans-serif;
    font-size: 3em;
    line-height: 0.8em;
    color:rgb(27, 27, 27);
}

.cls-1{fill:#54b2a1;}.cls-2{fill:#3a8476;}.cls-3{fill:#4ba899;}

.it_iso{
    max-width:400px;
}

//NOSOTRSES

.nosotres{
    background-color:$bgGreen;
    height:100vh;
    padding: 2em;
}

.member-cards{
    height:100%;
    margin-top:1em;
}

.member-content{
    background-color:$acua;
    padding:0.5em;
    height:100%;
    transform-origin:center;
    display: grid;
    place-content: end;
    transition:all 0.3s ease-in-out;

}

.member-content:hover{
    transform:skewY(-20deg);
    background-color:$lila;
    background: #defcf0;
    box-shadow: 7px 7px 7px #4ca899, -7px -7px 7px #fff;

}

 // circlepath

 .circlePathContainer{
     display:flex;
     justify-content:center;
     background-color: $bgclaro;
 }

 .circlePath{
     width:200px;
     height:200px;
 }

@media (max-width: 600px){
    #gal{
        width:400px;
        height:400px;
    }

    .about1{
        display:flex;
        flex-direction:column; 
    }

    .about2{
        display:flex;
        flex-direction:column; 
    }
    .b2{
        height:100vh;
    }

    .about3{
        display:flex;
        flex-direction:column; 
    }


    
}