@charset "utf-8";

$azul:#2e6ca1;
@import "~bulma/bulma.sass";


//Header

h1{
   
    font-family: 'B612', sans-serif;
}

p{
    font-family: 'Rubik', sans-serif;
}

header{
    position: fixed;
    //background-color:yellow;
    width: 100vw;
    height: 10vh;
    padding: 3em  2em 2em 2em;
    z-index: 200;
}


//Menu
/* TAB */

.tab{
    top:-20%;
    background-color:#400101;
    cursor: pointer;
    position:absolute;
    width:200px;
    height:200px;
    display:flex;
    place-content:center;
    align-items:center;
}

.tab:hover{
    background-color:#f2561d;

}
/*44/35*/
.tab:nth-of-type(1){
    left:52%;
    top: 10%;
    border-radius:50%;
}

.tab:nth-of-type(2){
    right:52%;
    top: 42%;
    border-radius:50%;
}

.tab:nth-of-type(3){
    left:52%;
    top: 42%;
    
}

.tab:nth-of-type(4){
    right:52%;
    top: 10%;
    
}


.tab h1{
    font-size: 1em;
    font-family: 'Jura', sans-serif;
}
.menuit{
    cursor:pointer;
    width:40px;
    height:40px;
}


.menu_container{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: fixed;
    filter:url(#goo);
    z-index:100;
}

.menu_container h1{
   // font-size:1em;
    color:#eeeeee;
}

.menuicon{
    font-size: 2em;
    cursor: pointer;
}


.logosvg{
    width:60px;
    cursor:pointer;    
}

.module{
    stroke: transparent;
}

.module:hover{
    fill:pink;
}


//main
main{
    height:auto;
    width:100vw;
}

//Homepage

.homepage{
    width:100vw;
    height:100vh;
    padding: 6em;
    //background-color:blue;
}

.homepage2{
    width:100vw;
    background-color:rgb(0, 0, 0);
    position: relative;
}

.apple_svg_container{
    height:100%;    
}

.apple_c{
    mix-blend-mode: exclusion;
}


.videoReel{
    width: 100vw;
    height:100vh;
}

.downIcon{
    color: #f2561d;
    position:absolute;
    bottom: 10%;
    right:50%;
    cursor: pointer;

}

.raiz{
    stroke-dasharray:3000;
    stroke-dashoffset:3000;
    animation: dash 10s linear forwards;
}

.on{
    animation-play-state: running;
}

.off{
    animation-play-state: paused;
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}
//Homepage2

.homepage2{
    width:100vw;
    height:100vh;
    //background-color:green;
}


//About-layout

.about1{
   background-color:rgb(224, 224, 224);
   width:100vw;
   height:120vh; 
   display :grid;
   grid-template-rows: 5fr 3fr ;
   grid-template-columns: 6fr 4fr 1fr;
   grid-template-areas: "a1 a2 a5"
                        "a3 a4 a5";

}

.a1{
    grid-area : a1;
    //background-color:blue;
    border-style: solid;
}

.a2{
    grid-area : a2;
    background-color:#f7e3c4;
    border-style: solid;
}

.a3{
    grid-area : a3;
    //background-color:rgb(127, 127, 228)
    border-style: solid;
}

.a4{
    grid-area : a4;
    //background-color:rgb(55, 55, 112)
    border-style: solid;
}

.a5{
    grid-area : a5;
    background-color:#7fbf7f;
    border-style: solid;
}


//About2

.about2{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    height:120vh; 
    display :grid;
    grid-template-rows: 6fr 3fr ;
    grid-template-columns: 4fr 6fr 1fr;
    //grid-gap:2em;
    grid-template-areas: "b1 b2 b3"
                         "b4 b5 b6";
 
 }
 
 .b1{
     grid-area : b1;
     //background-color:blue
     border-style: solid;
 }
 
 .b2{
     grid-area : b2;
     //background-color:rgb(23, 23, 202)
     border-style: solid;
     display:grid;
     align-content: end;

 }
 
 .b3{
     grid-area : b3;
     //background-color:rgb(127, 127, 228)
     border-style: solid;
 }
 
 .b4{
     grid-area : b4;
     //background-color:rgb(55, 55, 112)
     border-style: solid;
 }
 
 .b5{
     grid-area : b5;
     //background-color:rgb(134, 15, 163)
     border-style: solid;
 }
 
 .b6{
     grid-area : b6;
     //background-color:rgb(17, 187, 17)
     border-style: solid;
 }


 //About3

.about3{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    height:120vh; 
    display :grid;
    grid-template-rows: 8fr 4fr ;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-areas: "c1 c2 c3"
                         "c4 c5 c6";
 
 }
 
 .c1{
     grid-area : c1;
     //background-color:blue
     border-style: solid;
 }
 
 .c2{
     grid-area : c2;
     //background-color:rgb(23, 23, 202)
     border-style: solid;
 }
 
 .c3{
     grid-area : c3;
     //background-color:rgb(127, 127, 228)
     border-style: solid;
     display:grid;
     align-content: end;
 }
 
 .c4{
     grid-area : b4;
     //background-color:rgb(55, 55, 112)
     border-style: solid;
 }
 
 .c5{
     grid-area : c5;
     //background-color:rgb(134, 15, 163)
     border-style: solid;
 }
 
 .c6{
     grid-area : c6;
     //background-color:rgb(17, 187, 17)
     border-style: solid;
 }

 //About-elements
//About1
 .info_{
     padding: 2em;
     width:100%;
     height:100%;
     background-color:yellow;
    
 }

 .info_ h1{
    
    font-family: 'B612', sans-serif;
     font-size: 3em;
 }

 .info_ .expandIconContainer{
    display:grid;
    justify-items: end;
    right:4%;
 }

 .info_ .expandIcon{
     cursor:pointer;
 }


 #svgA1{
     width:100%;
     height:100%;
 }

 .svgA1_rect{
     opacity: 50%;
     mix-blend-mode: difference;
 }

 .svgA1_cuad{
    opacity: 50%;
    mix-blend-mode: exclusion;
}

.svgA3_circle{
    opacity: 50%;
    mix-blend-mode:difference;
}

 //about2
.about2_content{
    padding:2em;
}

.about2_tituloUp{
    font-family: 'B612', sans-serif;
    font-size: 2em;
    line-height: 0.5em;

}

.about2_tituloDw{
    font-family: 'B612', sans-serif;
    font-size: 4em;
    line-height: 0.5em;

}

//about3_content

.about3_content h1{
    font-family: 'B612', sans-serif;
    font-size: 4em;
    line-height: 0.8em;
}



