@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.nosotresWrapper{

background-color: $acua;

.nosotres{
    padding: 2em 10em;
}

.memberWrapper{
    margin: 2em 0em;
    padding: 1em;
    border-radius: 10px;
    background-color: $negro;
  }

.memberImageContainer{
    display: flex;
    place-items: center;
    justify-content: center;
}

.memberInfoContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 3em;
    h1{
        color:$blanco
    }
    p{
        color:$blanco
    }
}

.roundPicture{
        width: 12em;
        height: 12em;
    //background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.direccionWrapper{
    margin-bottom: 6em;
}
.alumnxsWrapper{
    margin-bottom: 6em;
}
.colaboradorxsWrapper{
    margin-bottom: 6em;
}
.exalumnxsWrapper{
    margin-bottom: 6em;
}

}


// .roundPicture{
    @media (max-width: 576px){
    
        .nosotres {
            padding: 0px 0px;
          }

          .memberWrapper{
            background-color:transparent;
            
          }

          .memberInfoContent{
            padding: 1em 1em;
            text-align: center;
          }

          .tituloDireccion, .tituloAlumnxs, .tituloColaboradorxs, .tituloExalumnxs{
            text-align: center;
          }
    }



    @media (max-width: 992px){
    
        .nosotres {
            padding: 2px 10px;
          }

          .memberInfoContent{
            padding: 1em 1em;
            text-align: center;
          }

          .tituloDireccion, .tituloAlumnxs, .tituloColaboradorxs, .tituloExalumnxs{
            text-align: center;
          }
    }


