@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.proyectosContainer{
    min-height:100vh;
}

.galeria{
    padding: 2vh 30vh;
    display:grid;
    //grid-gap: 5vh;
    //grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-auto-rows: 300px;
}

.proyectsBox{
    position:relative;
    display: flex;
    place-items: flex-end;
    cursor:pointer;
    background-color:$acua;
    overflow:hidden;
}

.proyectsBox:before{
    background:$lila;
    opacity:0;
    transition: all 0.3s ease-out;
    position:absolute;
    display:block;
    left:50%;
    bottom:-50%;
    right:0;
    margin: auto;
    border-radius:100%;
    width: 400px;
    height: 400px;
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}

.proyectsBox:hover:before{
    opacity:0.8;
    transform:scale(1.5);
    
}

.contentProyectos{
    mix-blend-mode:hard-light;
}

.contentProyectos h1{
    font-size:2.8vh;
   
}

@media (max-width: 600px){
    .galeria{
        padding:15vh 4vh;
        grid-auto-rows: 150px;
    }
}