


//About2

.about2{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    min-height:100vh; 
    background-color: #242424;
    display :grid;
    overflow: hidden;
    
 
 }

 .b2{
     background-color: #242424;
     padding-bottom: 60px;

 }

 @media(max-width:600px){
    .about2{
        display:flex;
        flex-direction:column; 
    }
    .b2{
        height:100vh;
    }
 }

 