
 //About3

 .about3{
    //background-color:rgb(200, 255, 0);
    width:100vw;
    height:100vh; 
    padding: 8vh 4vh 8vh 4vh;
 
 }
 
 .c_boxes{
     text-align: center;
     padding:5vh
 }

 @media (max-width: 600px){
    .about3{
        display:flex;
        flex-direction:column; 
        height:auto; 
    }
}