//About-layout
$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.about1{
    position: relative;
    background-color: $negro;
    border:solid $blanco 5vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    place-items: flex-end;
    overflow: hidden;
}


.about_columns{
    z-index:2;
    padding: 5vh 5vh 10vh 5vh;
}

.aboutCarousel{
    position:absolute;
}

 

  //1_

  
.about1_{
    // background-color:rgb(233, 233, 233);
     width:100vw;
     min-height:100vh; 
     display :grid;
     padding:1em;
     grid-template-rows: 1fr 1fr ;
     grid-template-columns:1fr 3fr 1fr; 
     grid-gap:1em;
     grid-template-areas: "a1 a2 a3"
                          "a4 a5 a6";
  
  }
  
  .a1{
      grid-area : a1;
      
      //background-color:$negro;
  }
  
  .a2{
      grid-area : a2;
     // background-color:#1b1b1b;
      
  }
  
  .a3{
      grid-area : a3;
      //background-color:rgb(127, 127, 228)
      
  }
  
  .a4{
      grid-area : a4;
      //background-color:rgb(55, 55, 112)
      
  }
  
  .a5{
      grid-area : a5;
     // background-color:$acua;
      
  }


@media (max-width: 600px){

    .about1{
        position:revert;
        padding-bottom: 10vh;
        border:solid $blanco 1vh;
    }
    .aboutCarousel{
        position:revert;
    }

     //1_

    .about1_{
        display:flex;
        flex-direction:column; 
    }

   
    
 
   
}