@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.actividadElement{
    margin-top: 10vh;
    min-height:20vh;
    background-color:$blanco;
   
    
    
}

.actividadElement:hover{
    border: $lila solid 4px;
    .actividadExpand{
        color:$blanco;
        padding:3px;
        background-color:$negro;
        transform:scale(1.2);
    }
    
}

.actividadElement div{
    display: flex;
    place-items: center;
    justify-content: center;
}

.fecha{
    font-size:5vh;
}

.actividadExpand{
    cursor: pointer;
    transition:all 0.2s ease-in-out;
}



