
 
 .complejo{
    max-width:400px;
    max-height:400px;
}


#complejidad{
    font-family: 'B612', sans-serif;
    font-weight: 600;
    font-size:1.5em;
    fill:#eeeeee;
    font-weight:600;
}
