@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.article_box{
    background-color:$negro;
    position:relative;
    overflow:hidden;
    min-height: 300px;
}

.article_box:before{
    background:$lila;
    opacity:0;
    transition: all 0.3s ease-out;
    position:absolute;
    display:block;
    left:0;
    bottom:-50%;
    right:0;
    margin: auto;
    border-radius:100%;
    width: 300px;
    height: 300px;
    content: '';

}

.article_box:hover:before{
    opacity:0.8;
    transform:scale(1.5);
    
}

.article_box .textcontent{
    position:absolute;
    bottom:0;
    margin:2em auto;
}

.article_box h1{
    font-family: 'B612', sans-serif;
    color:$blanco;
    font-size: 2.2vh;
    margin:0;
    
}

.autor{
    color:$lila;
    mix-blend-mode:color-dodge;
}

.autorTitle{
    color:$blanco ;
    font-size: 1.8vh;
    margin:0;
    margin-left:5px;
    
}

.autorTitle{
    margin:15px;
}

