
@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.footer{
    min-height:100vh;
    margin-top:0px;
    padding-bottom: 0;
}

.footer .footer-image-content{
     padding:2em;
     text-align: center;
     
}

.footer .icons-column h1{
   padding-top: 2em;
   color: #242424;
}

.footerImgWrapper{
   width:20vh;
}


.icons-column{
   display: flex;
   flex-direction:column;
   text-align: center;
   place-content: center;
   align-items: center;
}

.footer .footer-icons-content{
    width: 50%;
   display: flex;
   place-content:center;
   place-items: center;
}

.footer-icons{
    font-size:6vh;
    cursor:pointer;
    color:$lila;
    transition:all 0.2s ease-in-out;
    margin:1rem;
}

.footer-icons:hover{
   color:$acua;
   transform:scale(1.5);
}

.subscripcion{
   padding:2em;
   background-color:$acua;
}

.emailSub{
   width:100%
}

.contentSub{
   padding:2em;
}

.subscripcion h1{
   font-size:4vh;
   color:$blanco !important;
}

.subscripcion h2{
   font-size:3vh;
   color:$blanco !important;
}

.enviarSub{
   background-color:$lila !important; 
   color:$blanco !important; 
}

.foot-list{
   padding-top:4vh;
   cursor:pointer;
}

.foot-list-item{
   position:relative;
}

.foot-list-item:before{
   position:absolute;
   background:$lila;
   opacity:0;
   transition: all 0.3s ease-out;
   position:absolute;
   display:block;
   left:0;
   bottom:0;
   right:0;
   margin: auto;
   width: 20vh;
   height: 2px;
   content: "";
   padding-top: 1.4em;
   mix-blend-mode: hue;

}

.foot-list-item:hover:before{
   opacity:0.8;
   transform:scale(1.5);
   
}
