@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

//MENU MODAL  

.menuModalContent{
    width:100%;
    height:100%;
}

.simulador{
    background-color:blue;
    width:100vw;
    height:100vh;
}

.menuClose{
    z-index:500;
}


.logosvg{
    width:60px;
    cursor:pointer;    
}

.itTitulo h1{
    font-size:1em;
    color: $acua;
}

.menuit{
    cursor:pointer;
    width:50px
}


.myNav{
    background-color:$blanco !important;
    padding-top: 0 !important;
}
