@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;


.info_{
    padding: 2em;
    width:100%;
    height:100%;
    transition:all 0.1s ease-out;
    cursor:pointer;
   
}

.info_:hover{
   -webkit-box-shadow: 8px 8px 4px -3px $acua; 
   box-shadow: 8px 8px 4px -3px $acua;
   transform: translate(-2px, -2px);

   .expandIcon{
       color:#eeeeee;
       background-color:$negro;
      transform:scale(1.2);
      padding:3px;
   }
}

.info_ h1{
   
   font-family: 'B612', sans-serif;
    font-size: 2em;
}

.info_ p{
   font-size: 2.5vh;
}

.info_ .expandIconContainer{
   display:grid;
   justify-items: flex-end;
   right:4%;
   margin:0.5em;
}

.info_ .expandIcon{
    cursor:pointer;
    transition:all 0.1s ease-out;
    
}

.infoExpandedContent{
    background-color:rgb(36, 36, 36);
    padding:4em;
}

.infoExpandedContent h1{
    color:$acua;
    font-size: 1.5em;
}

.infoExpandedContent p{
   line-height:1.5em;
   color:#eeeeee;
}