
@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

main{
    height:auto;//scrollpage = 100vh
    width:100vw;
    background-color:$blanco;
    margin-bottom: 10vh;
}
