
@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

main{
    height:auto;//scrollpage = 100vh
    width:100vw;
    background-color:#141414;
   // background: linear-gradient(0deg, rgba(20,20,20,1) 20%, rgba(124,66,140,1) 72%, rgba(230,230,230,1) 100%);
}

.provider-style{
    margin:0px !important;
    padding:0px !important;
    width:100vw;
}


