$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.proyectoContainer{
  .proyectoSliderContainer .tns-nav{
      text-align: center;
  }


    .proyectoSliderContainer .tns-nav button{
        height: 10px;
        border-radius: 50%;
        background-color: $lila;
        border-color: $acua;
        margin: 4px;
    }

    .slide {
      max-height: 94vh;
    }
    
      .carousel-inner {
        max-height: 95vh;
      }
    
    
  }