$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;


    .proyectoSliderContainer .tns-nav button{
        height: 10px;
        border-radius: 50%;
        background-color: $lila;
        border-color: $acua;
        margin: 4px;
    }
    
      .carousel-inner {
        max-height: 95vh;
      }
    
    
