@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.tab{
    top:-20%;
    background-color:$lila;
    cursor: pointer;
    position:absolute;
    width:130px;
    height:130px;
    display:flex;
    place-content:center;
    align-items:center;

}

.tab:hover{
    background-color:$acua;

}

////////@at-root

.tab:nth-of-type(1){
    left:54%;
    top: 24%;
    border-radius:50%;
}
.tab:nth-of-type(2){
    border-radius:50%;
    right: 53%;
    top: 52%;
}

.tab:nth-of-type(3){
    left: 54%;
    top: 52%;
}
.tab:nth-of-type(4){
    right:54%;
    top: 24%;
}


.tab h1{
    font-size: 0.85em;
    font-family: 'Jura', sans-serif;
    padding-top: 0.85em;
}


.menu_container{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: fixed;
    filter:url(#goo);
    z-index:100;
}

.menu_container h1{
   // font-size:1em;
    color:#eeeeee;
}

.menuicon{
    font-size: 2em;
    cursor: pointer;
}

    @media(min-width: 992px){
        .tab{
            width: 200px;
            height: 200px;
        }
        .tab h1{
            font-size:1em;
        }
    
    }

  