
@charset "utf-8";

$lila:#7c428c;
$acua: #4ca899;
$bgGreen:#DEFCF0;
$negro:#242424;
$blanco : #fafafa;

.module{
    cursor:pointer;
    stroke: #24242400;
    fill:#242424;
    stroke-width: 4px;
}

.module:hover{
    fill:$acua;
}


@media (max-width:600px){
    .pathRaiz{
        margin-top:32vh
    }
}