
 @charset "utf-8";

 $lila:#7c428c;
 $acua: #4ca899;
 $bgGreen:#DEFCF0;
 $negro:#242424;
 $blanco : #fafafa;
 
 .svg_caption{
    cursor:pointer;
    width:100% ;
    font-family: 'B612', sans-serif;
    font-weight: 600;
    height: 8vh;

 }

 .caption:hover{
     background-color:$lila;
 }
